@import "jquery-mobile-min.less";
@import "variables.less";
@import "mixins.less";
@import "webfont.less";
@import "bootstrap.less";

//Common Style//
body {
	text-transform: none!important;
	text-shadow: none!important;
	width: 100%;
	height: 100%;
}
*:focus {
   outline: 0!important;
}
.clearfix{
	clear:both;
}
.wrapper{
	width: 100%;
}
// .container {
// 	width: 100%;
// 	height: 100%;
// }
.cursor {
	cursor: pointer;
}
.ui-bar-a {
	border: none;
	background: @white;
	text-shadow: none;
	font-weight: 100;
}

.left {
	float: left;
}

.right {
	float: right;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid @white;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid @white;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid @white; 
}
.ui-page-theme-a .ui-foucs{
	background: none!important;
	border: 0px!important;
	text-shadow: 0px!important;
	box-shadow: none!important;	
}
.ui-mobile .ui-page .ui-content {
    background : none;
}
.ui-mobile .ui-page {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: -moz-linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: -webkit-linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: -o-linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: -ms-linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
}
.ui-shadow {
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}
.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn.ui-btn-active {
	background: none!important;
	border: 0px!important;
	text-shadow: 0px!important;
	&:focus {
		box-shadow: none!important;	
	}
	&:active{
		background: none!important;
		border: 0px!important;
		text-shadow: 0px!important;
	}
}
.ui-icon-carat-d:after {
	background-image: none!important;
}

.ui-page-theme-a .ui-body-inherit {
	background: none;
	border: none;
	text-shadow: none;
}
.ui-input-text{
    border: none !important;
    box-shadow: none !important;
}
.ui-select {
    border: none !important;
    box-shadow: none !important;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none!important;
}
//location selectbox border between option and down icon
.select-elements .ui-btn-icon-right:after {
	border-radius: 0px;
	background: none;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid @white;
	top: 70%;
}

#location-select-menu-button {
	padding-top: 0px;
	padding-bottom: 0px;
	span {
	  	border-right: 1px solid @white;
	  	padding-top: 7px;
	  	padding-bottom: 7px;
	}
}

#institution-select-menu-button {
	padding-top: 0px;
	padding-bottom: 0px;
	span {
	  	border-right: 1px solid @white;
	  	padding-top: 7px;
	  	padding-bottom: 7px;
	}
}

.f-right{
	float: right;
}
.f-left{
	float: left;
}
.t-center{
	text-align: center;
	margin: 0 auto;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.inline-block{
	display: inline-block;
}
.bars{
	width: 24px;
	height: 18px;
	display: block;
}

// .nav-bar{
// 	position: fixed;
//     left: 0;
//     right: 0;
//     z-index: 22222;
// 	height: 45px;
// 	padding: 5px 20px 6px 20px;
// 	background-color:@white !important;
// 	border-top: 1px solid @grayLighter !important;
// 	border-bottom: 1px solid @grayLighter !important;
// }

.page-contents {
	.attrac-content {
		background-color: @white;
		.attrac-header-logo {
			text-align: center;
			background-color: @appCommonColor;
			img{
				padding: 5px 0px;
				width: 130px;
				height: 45px;
			}
		}
		//location and institute select page
		.select-elements {
			margin: 0px;
			padding: 40px 15px;
			text-align: center;
			color: @white!important;
			.location-dd {
				background-color: @appCommonColor;
				.location-drop-down {
					outline: none;
					width: 100%;
					.font(18px,'Titillium_Thin',@white,100);

				}
			}
			.institution-dd {
				background-color: @appCommonColor;
				.institution-drop-down {
					outline: none;
					width: 100%;
					.font(18px,'Titillium_Thin',@white,100);
				}
			}
		}
		//user login option select page & login page
		.user-login-options{
			margin: 0px;
			padding: 25px 15px;
			text-align: center;
			.login-btn-header {
				.font(24px,'Titillium_Thin',@appCommonColor,bold);
				margin-top: 0px;
				margin-bottom: 25px;
			}
			.user-login-opt-btn {
				background-color: @appCommonColor;
				.font(16px,'Titillium_Thin',@white,100);
				margin: 20px;
				padding: 10px 0px;
				cursor: pointer;
			}
			.login-input-box {
				width: 210px;
				margin: 10px auto;
				border: 1px solid @appCommonColor;
				.font(18px,'Titillium_Thin',@appCommonColor,100);
				padding-top: 0px;
				padding-bottom: 0px;
			}
			.login-btn {
				background-color: @appCommonColor;
				.font(18px,'Titillium_Thin',@white,100);
				margin: 25px auto;
				margin-bottom: 0px;
				padding: 5px 0px;
				cursor: pointer;
				width: 120px;
			}
		}
	}
}

.user-page-contents {
	position: fixed; 
	top: 0; 
	left: 0; 	
	background-color: @white!important;
	min-width: 100%;
	min-height: 100%;
	padding-top: 0px;
	.common-header-bar {
		position: fixed;
	    left: 0;
	    right: 0;
	    z-index: 22222;
		background-color: @commonHeader !important;
		height: 55px;
	}
	.common-header-bar-content {
		padding: 15px 10px;
  		vertical-align: middle;
		.header-menu-icon {
			color: @white;
			padding-right: 15px;
			font-size: 24px;
			border-radius: 0px;
			-webkit-border-radius: 0px;
			-moz-webkit-border-radius: 0px;
			-ms-webkit-border-radius: 0px;
			-o-webkit-border-radius: 0px;
			webkit-border-radius: 0px;
			cursor: pointer;
			vertical-align: middle;
		}
		.header-institute-title {
			.font(16px,'Titillium_Thin',@white,bold);
			vertical-align: middle;
		}
		.header-menu-icons-group {
			display: inline-block;
			padding-right: 25px;
			.envelope-icon{
				color: @white;
				font-size: 24px;
				// font-weight: 100;			
				border-radius: 0px;
				-webkit-border-radius: 0px;
				-moz-webkit-border-radius: 0px;
				-ms-webkit-border-radius: 0px;
				-o-webkit-border-radius: 0px;
				webkit-border-radius: 0px;
				cursor: pointer;
				vertical-align: middle;
			}
			.user-icon{
				color: @white;
				font-size: 24px;
				font-weight: 100;
				padding-left: 15px;
				border-radius: 0px;
				-webkit-border-radius: 0px;
				-moz-webkit-border-radius: 0px;
				-ms-webkit-border-radius: 0px;
				-o-webkit-border-radius: 0px;
				webkit-border-radius: 0px;
				cursor: pointer;
				vertical-align: middle;
			}
		}
	}
	.page-body-contents {
		padding-top: 60px;
		padding-left: 5px;
		padding-right: 5px;
		.dashboard-grid-menu-lists {
			.grid-menu-list {
				.font(12px,'Titillium_Thin',@white,100);
				cursor: pointer;
				text-align: center;
				padding: 0.5px;
				.list-opt-text {
					margin: 0px;
					border-radius: 0px;
					background-color: @dashboardBox;
					vertical-align: middle;
					padding: 55px 0px;
				}
			}
		}
	}
}

// .row-eq-height {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
// }

@import "font-awesome.less";
