@import "jquery-mobile-min.less";
@import "jquery-ui.min.less";
@import "variables.less";
@import "mixins.less";
@import "webfont.less";
@import "bootstrap.less";
@import "media.less";

//Common Style//
body {
	text-transform: none!important;
	text-shadow: none!important;
	width: 100%;
	height: 100%;
}
.container {
	margin-top: 50px;
}
*:focus {
   outline: 0!important;
}
.clearfix{
	clear:both;
}
.wrapper{
	width: 100%;
}
.cursor {
	cursor: pointer;
}
.ui-bar-a {
	border: none;
	background: @white;
	text-shadow: none;
	font-weight: 100;
}

.left {
	float: left;
}

.right {
	float: right;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid @white;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid @white;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid @white; 
}
.ui-page-theme-a .ui-foucs{
	background: none!important;
	border: 0px!important;
	text-shadow: 0px!important;
	box-shadow: none!important;	
}
.ui-mobile .ui-page .ui-content {
    background : none;
}
.ui-mobile .ui-page {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: -moz-linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: -webkit-linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: -o-linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: -ms-linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
	background-image: linear-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7bf87), color-stop(100%, #698a9d));
}
.ui-shadow {
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}
.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn.ui-btn-active {
	background: none!important;
	border: 0px!important;
	text-shadow: 0px!important;
	&:focus {
		box-shadow: none!important;	
	}
	&:active{
		background: none!important;
		border: 0px!important;
		text-shadow: 0px!important;
	}
}
.ui-icon-carat-d:after {
	background-image: none!important;
}

.ui-page-theme-a .ui-body-inherit {
	background: none;
	border: none;
	text-shadow: none;
}
.ui-input-text{
    border: none !important;
    box-shadow: none !important;
}
.ui-select {
    border: none !important;
    box-shadow: none !important;
    margin-top: 1em;
    margin-bottom: 1em;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none!important;
}
.ui-input-text, .ui-input-search {
	margin: 0px;
}
//location selectbox border between option and down icon
.select-elements .ui-btn-icon-right:after {
	border-radius: 0px;
	background: none;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid @white;
	top: 70%;
}

#location-select-menu-button {
	padding-top: 0px;
	padding-bottom: 0px;
	span {
	  	border-right: 1px solid @white;
	  	padding-top: 7px;
	  	padding-bottom: 7px;
	}
}

#institution-select-menu-button {
	padding-top: 0px;
	padding-bottom: 0px;
	span {
	  	border-right: 1px solid @white;
	  	padding-top: 7px;
	  	padding-bottom: 7px;
	}
}

#dashboard-page {
	.container-fluid {
		padding: 0px 5px;
	}
}

.f-right{
	float: right;
}
.f-left{
	float: left;
}
.t-center{
	text-align: center;
	margin: 0 auto;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.inline-block{
	display: inline-block;
}
.bars{
	width: 24px;
	height: 18px;
	display: block;
}
.active-menu-opt {
	background-color: #d9d9d9;
}
// .nav-bar{
// 	position: fixed;
//     left: 0;
//     right: 0;
//     z-index: 22222;
// 	height: 45px;
// 	padding: 5px 20px 6px 20px;
// 	background-color:@white !important;
// 	border-top: 1px solid @grayLighter !important;
// 	border-bottom: 1px solid @grayLighter !important;
// }

.page-contents {
	.attrac-content {
		background-color: @white;
		.attrac-header-logo {
			text-align: center;
			background-color: @appCommonColor;
			img{
				padding: 5px 0px;
				width: 130px;
				height: 45px;
			}
		}
		//location and institute select page
		.select-elements {
			margin: 0px;
			padding: 40px 15px;
			text-align: center;
			color: @white!important;
			.location-dd {
				background-color: @appCommonColor;
				.location-drop-down {
					outline: none;
					width: 100%;
					.font(18px,'Titillium_Thin',@white,100);
				}
			}
			.institution-dd {
				background-color: @appCommonColor;
				.institution-drop-down {
					outline: none;
					width: 100%;
					.font(18px,'Titillium_Thin',@white,100);
				}
			}
		}
		//user login option select page & login page
		.user-login-options{
			margin: 0px;
			padding: 25px 15px;
			text-align: center;
			.invalid-login-msg {
				display: none;
				.font(14px,'Titillium_Thin',#fe0101,bold);
			}
			.login-btn-header {
				.font(24px,'Titillium_Thin',@appCommonColor,bold);
				margin-top: 0px;
				margin-bottom: 25px;
			}
			.user-login-opt-btn {
				background-color: @appCommonColor;
				.font(16px,'Titillium_Thin',@white,100);
				margin: 20px;
				padding: 10px 0px;
				cursor: pointer;
			}
			.login-input-box {
				width: 210px;
				margin: 10px auto;
				border: 1px solid @appCommonColor;
				.font(18px,'Titillium_Thin',@appCommonColor,100);
				padding-top: 0px;
				padding-bottom: 0px;
			}
			.login-btn {
				background-color: @appCommonColor;
				.font(18px,'Titillium_Thin',@white,100);
				margin: 25px auto;
				margin-bottom: 0px;
				padding: 5px 0px;
				cursor: pointer;
				width: 120px;
			}
		}
	}
}

.user-page-contents {
	position: fixed; 
	top: 0; 
	left: 0; 	
	background-color: @white!important;
	min-width: 100%;
	min-height: 100%;
	padding-top: 0px;
	.common-header-bar {
		position: fixed;
	    left: 0;
	    right: 0;
	    z-index: 22222;
		background-color: @commonHeader !important;
		height: 55px;
	}
	.common-header-bar-content {
		padding: 15px 10px;
  		vertical-align: middle;
  		// .menu-bar-icon-group {
  		// 	display: inline-block;
  		// 	.menu-bar-line {
				// width: 25px;
				// height: 2px;
				// background-color: #ffffff;
				// border: 2px solid #ffffff;
  		// 	}
  		// }
		.header-menu-icon {
			color: @white;
			padding-right: 15px;
			font-size: 24px;
			border-radius: 0px;
			-webkit-border-radius: 0px;
			-moz-webkit-border-radius: 0px;
			-ms-webkit-border-radius: 0px;
			-o-webkit-border-radius: 0px;
			webkit-border-radius: 0px;
			cursor: pointer;
			vertical-align: middle;
		}
		.header-institute-title {
			.font(16px,'Titillium_Thin',@white,bold);
			vertical-align: middle;
		}
		.header-menu-icons-group {
			display: inline-block;
			padding-right: 25px;
			.envelope-icon{
				color: @white;
				font-size: 24px;
				// font-weight: 100;			
				border-radius: 0px;
				-webkit-border-radius: 0px;
				-moz-webkit-border-radius: 0px;
				-ms-webkit-border-radius: 0px;
				-o-webkit-border-radius: 0px;
				webkit-border-radius: 0px;
				cursor: pointer;
				vertical-align: middle;
			}
			.user-icon{
				color: @white;
				font-size: 24px;
				font-weight: 100;
				padding-left: 15px;
				border-radius: 0px;
				-webkit-border-radius: 0px;
				-moz-webkit-border-radius: 0px;
				-ms-webkit-border-radius: 0px;
				-o-webkit-border-radius: 0px;
				webkit-border-radius: 0px;
				cursor: pointer;
				vertical-align: middle;
			}
		}
		#left-menu-panel {
			width: 290px;
			.ui-panel-inner {
				padding: 0px;
				// position: absolute;
				// top: 1px;
				// left: 0;
				// right: 0;
				// bottom: 0px;
				// overflow-y: scroll;
   	// 			-webkit-overflow-scrolling: touch;
			}
			.left-menu-panel-group {
				// overflow-y: scroll;
				background-color: @white;
				.user-details-content {
					height: 180px;
					position: relative;
					.back-cover-color {
						width: 100%;
						height: 100%;
						background-color: #2c85c1;
						opacity: 0.8;
					}
					.user-profile-info {
						display: inline-block;
						width: 100%;
						position: absolute;
						top: 0;
						padding: 60px 10px;
						.profile-pic {
							width: 60px;
							height: 60px;
							border-radius: 50%;
							background-color: @white;
							display: inline-block;
							overflow: hidden;
							vertical-align: middle;
							img {
								width: 100%;
							}
						}
						.profile-user-data {
							display: inline-block;
							margin-left: 5px;
							vertical-align: middle;
							width: 200px;
							.logged-user-name {
								.font(14px,'Titillium_Thin',@white,600);
								width: 175px;
							    white-space: nowrap;
							    overflow: hidden;
							    text-overflow: ellipsis;
							    display: inline-block;
							}
							.panel-user-opt-box {
								position: relative;
								.logged-user-institue {
									.font(14px,'Titillium_Thin',@white,600);
									margin-right: 5px;
									width: 175px;
								    white-space: nowrap;
								    overflow: hidden;
								    text-overflow: ellipsis;
								    display: inline-block;
								}
								.user-opt-arrow-down {
									position: absolute;
									top: 6px;
									width: 0; 
									height: 0; 
									border-left: 8px solid transparent;
									border-right: 8px solid transparent;
									border-top: 10px solid @white;
								}
							}
						}
					}
				}
				.user-various-opt-lists {
					height: 98%;
   					padding: 10px 0px;
   					.list-opt-container {
						overflow-y: scroll;
						overflow-x: hidden;
						height: 250px;
	   					-webkit-overflow-scrolling: touch;
   						.list-options {
							margin: 0px;
							padding: 0px;
							list-style-type: none;
							.list-opt {
								padding: 5px 0px;
								.list-opt-grp {
									display: inline-block;
									text-decoration: none;
									padding-left: 35px;
									.font(14px,'Titillium_Thin',#808080,600);
									.list-opt-icon {
										vertical-align: middle;
									}
									.list-opt-text {
										vertical-align: middle;
										margin-left: 5px;
									}
									&:visited {
										.font(14px,'Titillium_Thin',#808080,600);
									}
								}
							}
						}
   					}
					
				}
			}
		}
	}
	.common-footer-for-all-page {
		position: fixed;
		background-color: #000000;
		left: 0;
	    right: 0;
	    z-index: 22222;
		height: 55px;
		text-align: center;
		padding: 15px 0px;
		bottom: 0;
		.powered-by-text {
			.font(18px,'Titillium_Thin',#565656,600);
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			top: 0;
			margin: auto;
			// overflow: hidden;
			// width: 100%;
			height: 25px;
		}
		.footer-icon-group {
			font-size: 18px;
			color: #565656;
			i {
				margin: 0px 15px 0px 0px;
			}
		}
	}
	//dashboard page styles
	.dasboard-page-body-contents {
		overflow-x: hidden;
		overflow-y: scroll;
		margin-top: 60px;
		// padding-left: 5px;
		// padding-right: 5px;
		.row {
			margin: 0px;
		}
		.dashboard-grid-menu-lists {
			.grid-menu-list {
				.font(12px,'Titillium_Thin',@white,100);
				cursor: pointer;
				text-align: center;
				padding: 0.5px;
				background-color: @dashboardBox;
				position: relative;
			    height: 100px;
			    border: 1px solid #ffffff;
				.list-opt-text {
					// margin: 0px;
					border-radius: 0px;
					vertical-align: middle;
					// padding: 55px 0px;
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    margin: auto;
				    display: inline-block;
				    width: 100%;
				    height: 16px;
				}
			}
		}
	}
	//attendance page  and marks page styles
	.attendance-page-body-contents, .marks-page-body-contents, .attendance-search-page-body-contents, .marks-search-page-body-contents {
		overflow-x: hidden;
		overflow-y: scroll;
		margin-top: 60px;
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
		.user-opt-btn {
			margin: 15px auto;
			.font(18px,'Titillium_Thin',@white,900);
			background-color: @dashboardBox;
			padding: 5px 0px;
			width: 225px;
		}
		.attendance-search-option-info-group {
			margin: 0px auto;
			width: 275px;
			.user-opt-btn {
				margin: 15px auto;
				.font(18px,'Titillium_Thin',@white,900);
				background-color: @dashboardBox;
				padding: 5px 0px;
				width: 250px;
			}
			.search-input-option {
				width: 250px;
				margin: 15px auto;
				.search-input-label {
					.font(18px,'Titillium_Thin',@black,900);
					vertical-align: baseline;
				}
				.search-input-box {
					.input-box {
						text-align: center;
						width: 180px;
						.font(14px,'Titillium_Thin',@black,900);
						vertical-align: baseline;
						border-radius: 0px;
						border: 1px solid @boxBorder;
					}
				}
			}
		}
		.attendance-table-container {
			width: 100%;
			.subject-attendance-table {
				width: 100%;
				margin: 15px auto;
				.all-subject-table-header {
					th {
						text-align: center;
						.font(16px,'Titillium_Thin',@black,900);
						border: 1.5px solid @boxBorder;
						padding: 3px 0px;
					}
				}
				.all-subject-table-body{
					tr {
						td { 
							text-align: center;
							.font(16px,'Titillium_Thin',@black,300);
							border: 1.5px solid @boxBorder;
							padding: 3px 0px;
							.view-link {
								.font(16px,'Titillium_Thin',@dashboardBox,300);
								text-decoration: none;
								&:visited {
									font-color: @dashboardBox;
								}
							}
						}
					}
				}
				.subject-table-header {
					th {
						text-align: center;
						.font(16px,'Titillium_Thin',@black,900);
						border: 1.5px solid @boxBorder;
						padding: 3px 0px;
						&:first-child {
							width: 17%;
						}
					}
				}
				.subject-table-body{
					tr {
						td {
							width: 13%;
							text-align: center;
							.font(10px,'Titillium_Thin',@white,300);
							border: 1.5px solid @boxBorder;
							padding: 3px 0px;
							&:first-child {
								width: 13%;
								color: @black;
								font-size: 14px;
							}
						}
						.present-cell {
							background-color: #6e9e75;
							span {
								display: block;
							}
						}
						.absent-cell {
							background-color: #f36c21;
							span {
								display: block;
							}
						}
					}
				}
			}
		}
		.marks-search-option-info-group {
			margin: 25px auto;
			.select-opt-group {
				.select-opts {
					display: inline-block;
					.innner-row {
						padding: 15px;
						.ui-btn-icon-right:after {
							border-radius: 0px;
							background: none;
							width: 0; 
							height: 0; 
							border-left: 3px solid transparent;
							border-right: 3px solid transparent;
							border-top: 6px solid @black;
							top: 18px;
							right: 4px;
						}
						.ui-select {
							margin: 0px;
							display: inline-block;
							#subject-select-button{
								text-shadow: none;
								border-bottom: 1px solid @ashColor!important;
								padding: 0px;
								top: 4px;
							}	
							#exam-select-button{
								text-shadow: none;
								border-bottom: 1px solid @ashColor!important;
								padding: 0px;
								top: 4px;
							}				
						}
						.select-label {
							.font(16px,'Titillium_Thin',@black,900);
							padding-left: 0px;
							padding-right: 0px;
							text-align: left;
							float: left;
						}
						.select-box-dd {
							text-align: left;
							width: 300px;
							padding: 0px;
							outline: none;
							.font(14px,'Titillium_Thin',@black,900);

							// padding-top: 0px;
							// padding-bottom: 0px;
							// span {
							//   	border-right: 1px solid @black;
							//   	padding-top: 7px;
							//   	padding-bottom: 7px;
							// }
							// margin-left: 5px;
							// width: 72%;
							// // position: relative;
							// // top: -5px;
							// margin: 0px;
							// .input-text {
							// 	text-align: center;
							// 	border: 1px solid @black;
							// 	border-radius: 0px;
							// 	vertical-align: middle;
							// 	border-top: none;
							// 	border-left: none;
							// 	border-right: none;
							// 	padding: 0px;
							// }
							// .select-arrow-down {
							// 	position: absolute;
							// 	top: 18px;
							// 	right: 1px;
							// 	width: 0; 
							//     height: 0; 
							//     border-left: 4px solid transparent;
							//     border-right: 4px solid transparent;
							//     border-top: 5px solid @black;
							// }
						}
					}
				}
			}
		}
		.result-group {
			// margin: 40px auto;
			text-align: center;
			margin-top: 100px;
			.result-input-opt {
				display: inline-block;
				width: 100%;
				.result-input-label {
					.font(16px,'Titillium_Thin',@black,900);
					vertical-align: middle;
					// width: 28%;
					float: left;
				}
				.input-text {
					// width: 72%;
					float: right;
					display: inline-block;
					text-align: center;
					border: 1px solid @black;
					border-radius: 0px;
					vertical-align: middle;
					border-top: none;
					border-left: none;
					border-right: none;
					padding: 0px;
				}
			}
			.result-search-btn {
				padding: 5px 10px;
				background-color: @ashColor;
			}
		}
	}
}

.ui-widget-header {
	background: #0071bd;
	border: 1px solid #0071bd;
}

@import "faculty-styles.less";
@import "font-awesome.less";
