//@bodyFontFamily:      "Lato-Regular", serif;
//@altFontFamily:        "HelveticaNeue_Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Colors
// -------------------------

@white: #fff;
@black: #000;
@grayLighter: #E2E0E0;
@gayLight: #ACACAC;
@blackLight: #232623;
@blackDark: #020202;
@greenDark: #263027;
@boderGray: #3C3D3C;
@gray: #5D5E5D;
@green: #0A5E0E;
@green-light: #127C12;
@lineGray: #afafaf;
@black-light: #191919;

h1{
	font-size: 40px;
	font-weight: normal;
}
h2{
	font-size: 20px;
	font-weight: normal;
}
h3{
	font-size: 18px;
	font-weight: normal;
}
h4{
	font-size: 16px;
	font-weight: normal;
}
h5{
	font-size: 14px;
	font-weight: normal;
}
h6{
	font-size:12px;
	font-weight: normal;
}

small{
	font-size: 10px;
}
