@appCommonColor: #29abe2;
@commonHeader: #0071bc;
@white: #ffffff;
@dashboardBox: #0bb8d3;
@black: #333333;
@boxBorder: #c6c6c6;
@ashColor: #cccccc;
@bodyColor: #f2f2f2;
@userInnerColor: #808080;
h1{
	font-size: 40px;
	font-weight: normal;
}
h2{
	font-size: 20px;
	font-weight: normal;
}
h3{
	font-size: 18px;
	font-weight: normal;
}
h4{
	font-size: 16px;
	font-weight: normal;
}
h5{
	font-size: 14px;
	font-weight: normal;
}
h6{
	font-size:12px;
	font-weight: normal;
}

small{
	font-size: 10px;
}
